@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mm4t06');
  src:  url('fonts/icomoon.eot?mm4t06#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mm4t06') format('truetype'),
    url('fonts/icomoon.woff?mm4t06') format('woff'),
    url('fonts/icomoon.svg?mm4t06#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 50px;;
  color: #B11818;
  border-radius: 90px;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#contenedorico{
   text-align:center;
}

#tituloico{
  background-color: #96aab7; 
  color:white;
  border-radius: 1000px 1000px 200px 200px ;
  text-align:center;
}

#bordecontador{
  background-color: #96aab7; 
  color:white;
  border-radius: 200px 200px 1000px 1000px ;
  text-align:center;
  -webkit-box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.75);
}

[class^="iconheader-"], [class*=" iconheader-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 120px;;
  color: #B11818;
  border-radius: 90px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconheader-h:before {
  content: "\e900";
  color: #008000;
}

.iconheader-hr:before {
  content: "\e904";
  color: #0f0;
}

.iconheader-us:before {
  content: "\e903";
  color: #00f;
}

.iconheader-cp:before {
  content: "\e902";
  color: #008080;
}

.iconheader-ps:before {
  content: "\e903";
  color: #f0f;
}

.iconheader-cn:before {
  content: "\e903";
  color: #0ff;
}

.icon-h:before {
  content: "\e900";
  color: #008000;
}

.icon-hr:before {
  content: "\e904";
  color: #0f0;
}

.icon-us:before {
  content: "\e903";
  color: #00f;
}

.icon-cp:before {
  content: "\e902";
  color: #008080;
}
.icon-ps:before {
  content: "\e901";
  color: #0ff;
}

.icon-cn:before {
  content: "\e903";
  color: #0ff;
}





